<div class="jumbotron main-banner">
	<h1 class="light">Human Stem Cell Genome Project</h1>
</div>
<p class="lead">

Welcome to <strong>Human Stem Cell Genome Project data portal</strong>. 
This is an online resource for researchers to search, download and visualize high coverage whole genome sequence data generated from more than a hundred publicly available pluripotent cell lines. 
The overarching goal of this project is to capture the genetic variation across widely used stem cell lines and to enable rationale selection of these lines for downstream applications of interest.
 
</p>

<p class="lead">
To use this resource, users can search across cell lines for sequence genetic variants (point mutations and indels) or structural genetic variants 
(duplications, deletions, and copy number neutral loss of heterozygosity events &#60; 1 kbp). Any of these fields can be interrogated for variants of interest,
and each cell line can be studied separately.
Data resulting from a search can be downloaded as a CSV file.
Due to data sharing restrictions, not all cell lines included in the manuscript accompanying this portal could be included here.
If a cell line was not assessed for a certain type of variant, "n/a" is returned.
For a brief overview of the function of this portal, please see "Tutorial".
</p>
 
<p class="lead">
<strong>Citation:</strong> If you use this data portal, please cite <a href="https://doi.org/10.1101/2020.10.26.337352">our most recent publication</a>
</p>
