<div class="col-md-2 text-center">
	<h3>Variant Types</h3>
	<p>
		<span class="label" style="background-color: #ff0000">Fixed</span>
		<span class="label" style="background-color: #0000ff">Mosaic</span>
	</p>
</div>