<h1>Primary Data Access</h1>
<p>
Whole genome data are accessible via <a href="https://duos.broadinstitute.org" target="_blank">DUOS</a>, listed as dataset DUOS-000121.

If you wish to verify variants identified in this whole genome sequencing dataset in an independently generated whole exome sequencing (WES)
dataset of most of the samples included in this portal, these data are available in controlled access databases: 
<a href="https://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs001343.v1.p1" target="_blank"><strong>dgGaP</strong> accession phs001343.v1.p1</a>, 
<a href="https://ega-archive.org/datasets/EGAD00001003446" target="_blank"><strong>EGA</strong> accession EGAS00001002400</a>, and these data are searchable on the 
"Whole Genome" page (accessible once logged in).

</p>
