
<%= form_for(:exome_search, url: exome_search_path, html: { class: 'form', 'data-remote' => true }) do |f| %>
  <h2>Exome Search</h2>
  <p>Exomes are available via Anvil (see data access tab for more info). 
     Exomes are aligned to GRCh38, whole genomes shown in this application are aligned to GRCh37.</p>
<% end %>
