<div class="modal fade" id="no-results" tabindex="-1" role="dialog" aria-labelledby="no-results-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button class="close" data-dismiss="modal">×</button>
				<br/>
				<p class="text-danger text-center"><strong>No results found</strong></p>
			</div>
		</div>
	</div>
</div>