<div class="row">
	<div class="col-xs-12">
		<p class="help-block"><span class="fa fa-info-circle"></span> You can do exclude results in searches using the "!" character before the term.</p>
	</div>
</div>

