<div class="modal fade" id="too-many" tabindex="-1" role="dialog" aria-labelledby="no-results-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button class="close" data-dismiss="modal">×</button>
				<br/>
				<p class="text-danger text-center"><strong>You may only specify up to 4 cell lines at a time.</strong></p>
			</div>
		</div>
	</div>
</div>