<table class="table table-striped" id="whitelist-users">
  <thead>
  <tr>
    <th style="width: 75%;">Email</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>